<div class="back">
  <header>
    <h1>Smite <i class="fa-solid fa-bolt"></i> Trainer</h1>
  </header>
  <div class="container">
    <form class="options" [formGroup]="optionForm">
      <div class="option">
        <div class="box">
          <input type="radio" name="gamemode" id="normal" value="normal" formControlName="gamemode">
          <label for="normal"><span></span> Normal mode</label>
          <i>⚡</i>
        </div>
        <p>In normal mode, life decreases normally, only testing reaction time.</p>
      </div>
      <div class="option">
        <div class="box">
          <input type="radio" name="gamemode" id="contest" value="contest" formControlName="gamemode">
          <label for="contest"><span></span> Contest mode</label>
          <i>⚔️</i>
        </div>
        <p>In contest mode, a smite contest is simulated against the enemy jungler.</p>
      </div>
      <div class="smite-dmg">
        <div class="smite normal-smite">
          <input type="radio" name="smite" id="600" value="600" formControlName="smite">
          <label for="600"><span></span> 600</label>
        </div>
        <div class="smite unleashed-smite">
          <input type="radio" name="smite" id="900" value="900" formControlName="smite">
          <label for="900"><span></span> 900</label>
        </div>
        <div class="smite primal-smite">
          <input type="radio" name="smite" id="1200" value="1200" formControlName="smite">
          <label for="1200"><span></span> 1200</label>
        </div>
      </div>
      <div class="fog-mode">
        <input type="checkbox" name="fog" id="fog" formControlName="fog">
        <label for="fog"><span></span> Enable fog mode</label>
      </div>
    </form>

    <a routerLink="smite" routerLinkActive="active" class="start-btn" (click)="sendData()">Start</a>
  </div>

  <footer>
    <a href="https://github.com/VictorMuniz7" target="_blank"><i class="fa-brands fa-github"></i></a>
    <a href="https://www.linkedin.com/in/victor-muniz-236842267/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
  </footer>
</div>
